@font-face {
	font-display: swap;
	font-family: FreightTextPro;
	font-style: normal;
	font-weight: bold;
	src: url("https://www.innoq.com/assets/350ED6_0_unhinted_0.woff2?cachebuster=2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: FreightTextPro;
	font-style: italic;
	font-weight: normal;
	src: url("https://www.innoq.com/assets/350ED6_1_unhinted_0.woff2?cachebuster=2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: FreightTextPro;
	font-style: normal;
	font-weight: normal;
	src: url("https://www.innoq.com/assets/350ED6_2_unhinted_0.woff2?cachebuster=2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: FreightTextPro;
	font-style: italic;
	font-weight: bold;
	src: url("https://www.innoq.com/assets/350ED6_3_unhinted_0.woff2?cachebuster=2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: FFMarkWebPro;
	font-style: normal;
	font-weight: normal;
	src: url("https://www.innoq.com/assets/MarkPro-Book.woff2?cachebuster=2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: FFMarkWebPro;
	font-style: normal;
	font-weight: bold;
	src: url("https://www.innoq.com/assets/MarkPro-Bold.woff2?cachebuster=2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: FFMarkWebPro;
	font-style: normal;
	font-weight: 800;
	src: url("https://www.innoq.com/assets/MarkPro-Heavy.woff2?cachebuster=2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: HackRegular;
	src: url("https://www.innoq.com/assets/hack-regular.woff2?cachebuster=2") format("woff2");
}
